.p-1 {
    width: 300px;
    color: red;
}

.p-41 {
    color: red;
}

.p-42 {
    color: blue;
}

.p-43 {
    color: green;
}

.p_6 {
    width: 500px;
    background-color: rgb(111, 230, 111);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
}

#p_6 {
    font-variant: small-caps;
}

.p_62 {
    width: 500px;
    background-color: rgb(233, 107, 233);
    font-family: 'Times New Roman', Times, serif;
    font-size: 1em;
    font-weight: bold;
}

#p_62 {
    font-style: italic;
}

.table_1 {
    border-collapse: collapse;
}

.table_2 {
    caption-side: bottom;
    border-spacing:5px;
    empty-cells: hide;
}

.p_9 {
    width: 400px;
    height: 8vh;
    background-color: rgb(250, 250, 42);
}

.p_92 {
    width: 300px;
    height: 200px;
    background-color: rgb(230, 107, 230);
    max-height: 100px;
    min-width: 400px;
}

.p_10 {
    width: 400px;
    height: 8vh;
    background-color: rgb(250, 250, 42);
    border-top: 4px dotted blue;
    border-bottom: 4px dashed blue;
    border-left: 4px solid red;
    border-right: 4px solid red;
}

.p_102 {
    width: 300px;
    height: 200px;
    background-color: rgb(230, 107, 230);
    max-height: 100px;
    min-width: 400px;
    border: 4px solid green;
}