body {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.nav {
    display: flex;
    flex-direction: column;
    background: #333;
    padding: 1rem;
}

.nav-item {
    padding: 0.75rem 1rem;
    color: white;
    text-decoration: none;
    border-bottom: 1px solid #555;
    text-align: center;
}

.nav-toggle {
    display: block;
    background: none;
    border: none;
    color: white;
    font-size: 1.5rem;
    cursor: pointer;
    align-self: flex-start;
}


#nav-toggle {
    display: none;
}


.nav-items {
    display: none;
    flex-direction: column;
    width: 100%;
}


#nav-toggle:checked ~ .nav-items {
    display: flex;
}



.cards {
    display: flex;
    justify-content: space-around;
    height: 300px;
    margin-top: 50px;
    margin-bottom: 200px;
}

.card {
    border: 1px solid rgba(80, 80, 80, 0.525);
    border-radius: 5px;
    box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
    width: 300px;
    height: 300px;
    display: flex;
    align-items: flex-end;
}

.card>ul{
    list-style: none;
}

.name{
    font-weight: 700;
}


@media (min-width: 768px) {
    .nav {
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .nav-toggle {
        display: none;
    }

    .nav-items {
        display: flex;
        flex-direction: row;
        width: auto;
    }

    .nav-item {
        border-bottom: none;
        margin: 0 0.5rem;
    }
            
    #nav-toggle {
        display: none;
    }
}


@media (max-width: 1244px) {
    .cards {
        width: 100%;
        height: 40vh;
        overflow-y: auto;
        flex-direction: column;
        border: 1px solid rgba(53, 53, 53, 0.807);
        box-shadow: 3px 3px 10px 3px rgba(0,0,0,0.3);
        border-radius: 5px;
        gap: 20px;
        padding: 10px;
        margin-bottom: 200px;
    }

    .card {
        width: 100%;
        height: auto;
        overflow-y: visible;
        min-height: 200px;
    }
}


.grid-main {
    display: grid;
    grid-template-columns: 70% 30%;
    grid-template-rows: 200px 300px 140px;
    gap: 25px;
}

.item-1 {
    display: flex;
    justify-content: space-between;
    background-color: rgb(30, 40, 50);
    grid-column: 1 / 3;
    grid-row: 1;
    border-radius: 8px;
}


.my-site {
    display: flex;
    align-items: flex-start;
}

.menu-2 {
    display: flex;
    align-items: center;
    width: 40%;
    justify-content: space-around;
}

.my-site>h1 {
    color: white;
    font-weight: bolder;
    padding: 15px;
}

.menu-2>a {
    padding: 13px;
    background-color: rgb(50, 57, 84);
    text-decoration: none;
    color: white;
    font-size: 18px;
    width: 13%;
}


.item-2 {
    grid-column: 1;
    grid-row: 2;
    background-color: rgb(211, 211, 211);
    border-radius: 10px;
    padding: 15px;
}

.item-3 {
    grid-column: 2;
    grid-row: 2;
    background-color: rgb(0, 120, 215);
    color: white;
    padding: 15px;
    border-radius: 10px;
}

.item-4 {
    grid-column: 1 / 3;
    grid-row: 3;
    border-radius: 8px;
    background-color: rgb(30, 40, 50);
    color: white;
    display: flex;
    justify-content: center;
}


.menu2 {
    display: flex;
    justify-content: space-between;
}

.pcontent {
    font-size: 18px;
}

.ficha {
    background-color: white;
    height: 20%;
    width: 30%;
    padding: 10px;
    border-radius: 10px;
}

.f {
    font-weight: bold;
    font-size: 20px;
}

.op {
    font-size: 19px;
}

.sidebar {
    margin-left: 15px;
}

.dop {
    margin-left: 15px;
}

.dop>p {
    font-size: 18px;
}

.list1>ul>li {
    font-size: 18px;
    margin-bottom: 5px;
}


@media(max-width: 1000px) {
    .grid-main {
        grid-template-columns: 100%;
        grid-template-rows: 420px 600px 230px 80px;
        gap: 25px;
    }

    .item-1 {
        flex-direction: column;
        grid-column: 1;
        grid-row: 1;
    }

    .menu-2 {
        flex-direction: column;
        width: 100%;
        height: 80%;
    }

    .menu-2>a {
        width: 90%;
        text-align: center;
    }

    .my-site {
        padding: 10px;
        margin-left: 10px;
    }

    .item-2 {
        grid-column: 1;
        grid-row: 2;
    }

    .item-3 {
        grid-column: 1;
        grid-row: 3;
    }

    .item-4 {
        grid-column: 1;
        grid-row: 4;
    }

    .menu2 {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .ficha {
        width: 90%;
        margin-bottom: 25px;
    }

    .last-a {
        margin-bottom: 10px;
    }

    .item-4 {
        align-items: center;
        justify-content: center;
    }
}




