<!DOCTYPE html>
{% load static %}
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <title>{{ psevdo }}</title>
    <!-- <style>
        @import url("{% static 'blog/style.css' %}");
    </style> -->
</head>

<body>
    <p class="task1">Django (Джанго) - свободный фреймворк для веб-приложений на языке Python, использующий шаблон
        проектирования MVC.
        Документация на русском языке.</p>
    <p class="task1">Рецепты Django ORM - это книга о работе с моделями Django ORM и Django. Django ORM является одним
        из ключевых
        столпов Django.</p>
    <p class="task1">SQLAlchemy - это набор инструментов Python SQL и Object Relational Mapper, который дает
        разработчикам приложений
        всю мощь и гибкость SQL.</p>
    <p class="task1">Channels - это проект, который использует Django и расширяет его возможности за пределы HTTP - для
        обработки
        WebSockets, протоколов чата, loT-протоколов и многого другого</p>

    <br>
    <hr>
    <br>

    <p class="task2">Django (Джанго) - свободный фреймворк для веб-приложений на языке Python, использующий шаблон
        проектирования MVC.
        Документация на русском языке.</p>
    <p class="task2">Рецепты Django ORM - это книга о работе с моделями Django ORM и Django. Django ORM является одним
        из ключевых
        столпов Django.</p>
    <p class="task2">SQLAlchemy - это набор инструментов Python SQL и Object Relational Mapper, который дает
        разработчикам приложений
        всю мощь и гибкость SQL.</p>
    <p class="task2">Channels - это проект, который использует Django и расширяет его возможности за пределы HTTP - для
        обработки
        WebSockets, протоколов чата, loT-протоколов и многого другого</p>

    <br>
    <hr>
    <br>

    <p class="task3">Django (Джанго) - свободный фреймворк для веб-приложений на языке Python, использующий шаблон
        проектирования MVC.
        Документация на русском языке.</p>
    <p class="task3">Рецепты Django ORM - это книга о работе с моделями Django ORM и Django. Django ORM является одним
        из ключевых
        столпов Django.</p>
    <p class="task3">SQLAlchemy - это набор инструментов Python SQL и Object Relational Mapper, который дает
        разработчикам приложений
        всю мощь и гибкость SQL.</p>
    <p class="task3">Channels - это проект, который использует Django и расширяет его возможности за пределы HTTP - для
        обработки
        WebSockets, протоколов чата, loT-протоколов и многого другого</p>

    <br>
    <hr>
    <br>

    <span>
        <input type="password" placeholder="Введите пароль" id="input1">
        <input type="password" placeholder="Введите пароль" id="input2">
    </span>

    <br>
    <br>
    <hr>

    <div class="task5">
        <ol class="task52">
            <li><input type="text" placeholder="Введите текст" class="text51"></li>
            <li><input type="text" placeholder="Введите текст" class="text51"></li>
            <li><input type="text" placeholder="Введите текст" class="text51"></li>
        </ol>
        <ol class="task52">
            <li><input type="text" placeholder="Введите текст" class="text52"></li>
            <li><input type="text" placeholder="Введите текст" class="text52"></li>
            <li><input type="text" placeholder="Введите текст" class="text52"></li>
        </ol>
        <ol class="task52">
            <li><input type="text" placeholder="Введите текст" class="text53"></li>
            <li><input type="text" placeholder="Введите текст" class="text53"></li>
            <li><input type="text" placeholder="Введите текст" class="text53"></li>
        </ol>
    </div>

    <br>
    <hr>
    <br>

    <p class="task6">Django Rest Framework (DRF) — это библиотека, которая работает со стандартными моделями Django для
        создания
        гибкого и мощного API для проекта.</p>
    <p class="task6">Django CMS - это современная платформа для веб-публикаций, построенная на Django, фреймворке
        веб-приложений «для
        перфекционистов с соблюдением сроков».</p>
    <p class="task6">ASGI (Asynchronous Server Gateway Interface) является духовным наследником WSGI, предназначенным
        для обеспечения
        стандартного интерфейса между асинхронными веб-серверами, платформами и приложениями Python.</p>
    <p class="task6">Python Social Auth - это простой в настройке механизм социальной аутентификации/регистрации с
        поддержкой
        нескольких платформ и провайдеров аутентификации.</p>
    <p class="task6">Django Crispy Forms. Лучший способ получить Django DRY формы. Создавайте программные макеты
        многократного
        использования из компонентов, имея полный контроль над отображаемым HTML без записи HTML в шаблонах.</p>

    <br>
    <hr>
    <br>

    <p class="task7">Django Rest Framework (DRF) — это библиотека, которая работает со стандартными моделями Django для
        создания
        гибкого и мощного API для проекта.</p>
    <p class="task7">Django CMS - это современная платформа для веб-публикаций, построенная на Django, фреймворке
        веб-приложений «для
        перфекционистов с соблюдением сроков».</p>
    <p class="task7">ASGI (Asynchronous Server Gateway Interface) является духовным наследником WSGI, предназначенным
        для обеспечения
        стандартного интерфейса между асинхронными веб-серверами, платформами и приложениями Python.</p>
    <p class="task7">Python Social Auth - это простой в настройке механизм социальной аутентификации/регистрации с
        поддержкой
        нескольких платформ и провайдеров аутентификации.</p>
    <p class="task7">Django Crispy Forms. Лучший способ получить Django DRY формы. Создавайте программные макеты
        многократного
        использования из компонентов, имея полный контроль над отображаемым HTML без записи HTML в шаблонах.</p>

    <br>
    <hr>
    <br>

    <p class="task8">Django Rest Framework (DRF) — это библиотека, которая работает со стандартными моделями Django для
        создания
        гибкого и мощного API для проекта.</p>
    <p class="task8">Django CMS - это современная платформа для веб-публикаций, построенная на Django, фреймворке
        веб-приложений «для
        перфекционистов с соблюдением сроков».</p>
    <p class="task8">ASGI (Asynchronous Server Gateway Interface) является духовным наследником WSGI, предназначенным
        для обеспечения
        стандартного интерфейса между асинхронными веб-серверами, платформами и приложениями Python.</p>
    <p class="task8">Python Social Auth - это простой в настройке механизм социальной аутентификации/регистрации с
        поддержкой
        нескольких платформ и провайдеров аутентификации.</p>
    <p class="task8">Django Crispy Forms. Лучший способ получить Django DRY формы. Создавайте программные макеты
        многократного
        использования из компонентов, имея полный контроль над отображаемым HTML без записи HTML в шаблонах.</p>

    <br>
    <hr>
    <br>

    <div class="n9">
        <p>Быть энтузиасткой сделалось ее общественным положением, и иногда, когда ей даже того не хотелось, она, чтобы не обмануть ожиданий людей, знавших ее, делалась энтузиасткой.</p>
        <p>В середине разговора про политические действия Анна Павловна разгорячилась.</p>
        <p>Ах, не говорите мне про Австрию! Я ничего не понимаю, может быть, но Австрия никогда не хотела и не хочет войны. Она предает нас. Россия одна должна быть спасительницей Европы. Наш благодетель знает свое высокое призвание и будет верен ему. Вот одно, во что я верю.</p>
        <p>Я думаю, — сказал князь улыбаясь, — что ежели бы вас послали вместо нашего милого Винценгероде, вы бы взяли приступом согласие прусского короля. Вы так красноречивы. Вы дадите мне чаю?</p>
        <p>Абзац сброса - после него нумерация начнется сначала.</p>
        <p>Ах, не говорите мне про Австрию! Я ничего не понимаю, может быть, но Австрия никогда не хотела и не хочет войны. Она предает нас. Россия одна должна быть спасительницей Европы. Наш благодетель знает свое высокое призвание и будет верен ему. Вот одно, во что я верю.</p>
        <p>Я думаю, — сказал князь улыбаясь, — что ежели бы вас послали вместо нашего милого Винценгероде, вы бы взяли приступом согласие прусского короля. Вы так красноречивы. Вы дадите мне чаю?</p>
    </div>


    <br>
    <hr>
    <br>

    <div class="n10">
        <ul>
            <li>1</li>
            <li>2</li>
            <li>3</li>
            <li>4</li>
            <li>5</li>
            <li>6</li>
            <li>7</li>
            <li>8</li>
            <li>9</li>
        </ul>
        <ul>
            <li>A</li>
            <li>B</li>
            <li>C</li>
            <li>D</li>
            <li>E</li>
            <li>F</li>
            <li>G</li>
            <li>H</li>
            <li>I</li>
        </ul>
    </div>
</body>

</html>