<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>практикум 4</title>
</head>
<body>
    <table border="1">
        <tr>
            <td>ячейка 1</td>
            <td>ячейка 2</td>
            <td>ячейка 3</td>
        </tr>
        <tr>
            <td>ячейка 4</td>
            <td>ячейка 5</td>
            <td>ячейка 6</td>
        </tr>
        <tr>
            <td>ячейка 7</td>
            <td>ячейка 8</td>
            <td>ячейка 9</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table border="1" cellspacing="0"  width="400px" height="160px">
        <tr>
            <th>ячейка 1</th>
            <th>ячейка 2</th>
            <th>ячейка 3</th>
        </tr>
        <tr>
            <td>ячейка 4</td>
            <td>ячейка 5</td>
            <td>ячейка 6</td>
        </tr>
        <tr>
            <td>ячейка 7</td>
            <td>ячейка 8</td>
            <td>ячейка 9</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table border="1" cellspacing="0" width="400px" height="160px">
        <tr>
            <th>ячейка 1</th>
            <th>ячейка 2</th>
            <th>ячейка 3</th>
        </tr>
        <tr>
            <td align="right">ячейка 4</td>
            <td>ячейка 5</td>
            <td>ячейка 6</td>
        </tr>
        <tr>
            <td>ячейка 7</td>
            <td align="center">ячейка 8</td>
            <td align="right">ячейка 9</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table border="1" cellspacing="0" width="500px">
        <tr>
            <th align="center">номер</th>
            <th align="center">тег</th>
            <th align="center">значение</th>
        </tr>
        <tr>
            <td align="center">1</td>
            <td align="center">i</td>
            <td align="center">курсив</td>
        </tr>
        <tr>
            <td align="center">2</td>
            <td align="center">td</td>
            <td align="center">ячейка таблицы</td>
        </tr>
        <tr>
            <td align="center">3</td>
            <td align="center">a</td>
            <td align="center">ссылка</td>
        </tr>
        <tr>
            <td align="center">4</td>
            <td align="center">th</td>
            <td align="center">заголовок таблицы</td>
        </tr>
        <tr>
            <td align="center">5</td>
            <td align="center">table</td>
            <td align="center">таблица</td>
        </tr>
        <tr>
            <td align="center">6</td>
            <td align="center">p</td>
            <td align="center">абзац</td>
        </tr>
        <tr>
            <td align="center">7</td>
            <td align="center">b</td>
            <td align="center">жирный текст</td>
        </tr>
        <tr>
            <td align="center">8</td>
            <td align="center">tr</td>
            <td align="center">строка таблицы</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table border="1" cellspacing="0" width="200px">
        <tr>
            <td colspan="2">ячейка 1</td>
            <td>ячейка 3</td>
        </tr>
        <tr>
            <td rowspan="2">ячейка 4</td>
            <td>ячейка 5</td>
            <td>ячейка 6</td>
        </tr>
        <tr>
            <td>ячейка 8</td>
            <td>ячейка 9</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table border="1" cellspacing="0" width="200px">
        <tr>
            <td colspan="3">ячейка 1</td>
        </tr>
        <tr>
            <td>ячейка 4</td>
            <td rowspan="2">ячейка 5</td>
            <td>ячейка 6</td>
        </tr>
        <tr>
            <td>ячейка 8</td>
            <td>ячейка 9</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table border="1" cellspacing="0" width="200px">
        <tr>
            <td rowspan="3">ячейка 1</td>
            <td>ячейка 2</td>
            <td rowspan="3">ячейка 3</td>
        </tr>
        <tr>
            <td>ячейка 5</td>
        </tr>
        <tr>
            <td>ячейка 8</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table border="1" cellspacing="0" width="400px" height="500px">
        <tr>
            <td colspan="7"></td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td colspan="4"></td>
            <td rowspan="2"></td>
        </tr>
        <tr>
            <td rowspan="3"></td>
            <td colspan="2"></td>
            <td></td>
        </tr>
        <tr>
            <td rowspan="2"></td>
            <td></td>
            <td></td>
            <td></td>
            <td rowspan="3"></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td rowspan="3"></td>
            <td></td>
        </tr>
        <tr>
            <td></td>
            <td></td>
            <td></td>
        </tr>
        <tr>
            <td colspan="4"></td>
        </tr>
        <tr>
            <td colspan="3"></td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table style="border-collapse: collapse; width: 100%">
        <tr>
            <th colspan="2" style="border:1px solid black; padding: 5px">Ячейка на 2 столбца</th>
        </tr>
        <tr>
            <td style="border:1px solid black; padding: 5px">Ячейка 1</td>
            <td style="border:1px solid black; padding: 5px">Ячейка 2</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table style="border-collapse: collapse; width: 100%">
        <tr>
            <th rowspan="3" style="border:1px solid black; padding: 5px">Ячейка на три строки</th>
            <td style="border:1px solid black; padding: 5px">Ячейка 1</td>
        </tr>
        <tr>
            <td style="border:1px solid black; padding: 5px">Ячейка 2</td>
        </tr>
        <tr>
            <td style="border:1px solid black; padding: 5px">Ячейка 3</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table style="border: 1px solid black;" cellspacing="0">
        <tr>
            <th style="border: 1px solid black;">Заголовок 1</th>
            <th style="border: 1px solid black;">Заголовок 2</th>
            <th style="border: 1px solid black;">Заголовок 3</th>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Ячейка 1х1</td>
            <td style="border: 1px solid black;">Ячейка 1х2</td>
            <td style="border: 1px solid black;">Ячейка 1х3</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Ячейка 2х1</td>
            <td style="border: 1px solid black;">Ячейка 2х2</td>
            <td style="border: 1px solid black;">Ячейка 2х3</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th style="border: 1px solid black;">Заголовок 1</th>
            <th style="border: 1px solid black;">Заголовок 2</th>
            <th style="border: 1px solid black;">Заголовок 3</th>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Ячейка 1х1</td>
            <td style="border: 1px solid black;">Ячейка 1х2</td>
            <td style="border: 1px solid black;">Ячейка 1х3</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Ячейка 2х1</td>
            <td style="border: 1px solid black;">Ячейка 2х2</td>
            <td style="border: 1px solid black;">Ячейка 2х3</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <h3 align="center">Основной заголовок таблицы</h3>
    <table style="border-collapse: collapse; width: 100%;">
        <tr>
            <th style="border: 1px solid black;">Заголовок 1</th>
            <th style="border: 1px solid black;">Заголовок 2</th>
            <th style="border: 1px solid black;">Заголовок 3</th>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Ячейка 1х1</td>
            <td style="border: 1px solid black;">Ячейка 1х2</td>
            <td style="border: 1px solid black;">Ячейка 1х3</td>
        </tr>
        <tr>
            <td style="border: 1px solid black;">Ячейка 2х1</td>
            <td style="border: 1px solid black;">Ячейка 2х2</td>
            <td style="border: 1px solid black;">Ячейка 2х3</td>
        </tr>
    </table>

    <br>
    <hr>
    <br>

    <table style="border: 1px solid black" cellpadding="25px">
        <tr>
            <td style="border: 1px solid black">Ячейка 1</td>
            <td style="border: 1px solid black">Ячейка 2</td>
        </tr>
        <tr>
            <td style="border: 1px solid black">Ячейка 3</td>
            <td style="border: 1px solid black">Ячейка 4</td>
        </tr>
    </table>
</body>
</html>