<!DOCTYPE html>
<html>
<head>
    <meta harset="UTF-8">
    <title>Задача №4.4</title>
    <style>
        .green_letter{color: green;}
        .light_blue_letter{color: #5555CC;}
        .orange_letter{color: orange;}
        .paragraph{
            width: 500px;
            text-align: justify;
            line-height: 1.2em;
            margin: 1em;
            margin-bottom: 1.5em;
            }
        .caption_h_1{
            font-size: 1.1em;
            margin: 1em;
            }
        .caption_h_2{
            font-size: 1em;
            margin: 1em;
            }
    </style>
</head>
<body>
    <p>
    Абзац, заголовки и преформатированный текст в HTML
    Абзац и формирующий его тег &ltp&gt
    ДляразбиениятекстанаабзацывHTML используетсяэлемент«Абзац»,
    который формируется парным тегом &ltp&gt (отангл.paragraph&ndash;
    <em>абзац</em>). И хотя в некоторых случаях спецификация допускает
    отсутствие закрывающего тега, мы будем применять его всегда, явно
    формируя элемент «Абзац». Добавим, что абзац относится к блочным
    элементам, поэтому по умолчанию начинается с новой строки и
    отделяется от остального содержимого вертикальными отступами.
    </p>
    <p>
    Создание заголовков. Теги &lth1&gt-&lth6&gt
    Если возникает необходимость как-то назвать часть текста (например, параграф
    или раздел) и выделить его относительную важность, можно воспользоваться
    одним из шести заголовков разного уровня, которые формируются парными тегами
    от &lth1&gt до &lth6&gt (от англ. heading&ndash; <em>заголовок</em>) и также относятся к
    блочным элементам. Заголовок первого уровня отображается самым крупным шрифтом
    жирного начертания, остальные &ndash; поменьше, по мере убывания своей важности.
    </p>
    <p>
    Преформатированный текст. Тег &ltpre&gt
    А что если нам нужно вывести исходный текст на экран без форматирования? Такая
    ситуация случается, например, когда нужно сохранить подряд идущие пробелы и
    переносы строк или просто сохранить исходное форматирование при отображении тех
    же примеров кода. В таких случаях можно применить элемент
    'преформатированный текст', который формируется парным тегом &ltpre&gt
    (отангл. preformatted text&ndash; <em>предварительно форматированный текст</em>).
    Браузеры отображают его как блочный элемент.
    </p>
</body>
</html>