<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h3>Работа со временем</h3>
    <ol>
        <li>создание пунктуальности (никогда не будете никуда опаздывать);</li>
        <li>излечение от пунктуальности (никогда никуда не будете торопиться);</li>
        <li>изменение восприятия времени и часов.</li>
    </ol>

    <hr>

    <h1>Список изученных тегов</h1>
    <ul>
        <li><strong>html</strong></li>
        <li><strong>head</strong></li>
        <li><strong>body</strong></li>
        <li><strong>p</strong></li>
        <li><strong>h1</strong></li>
        <li><strong>h2</strong></li>
    </ul>
    <p>Неупорядоченный список используется для простого перечисления объектов, когда порядок неважен.</p>

    <hr>

    <h1>Расшифровка тегов списков</h1>
    <dl>
        <dt><strong>dl</strong></dt>
        <dd><strong>Definition List, сам список определений</strong></dd>
        <dt><strong>dt</strong></dt>
        <dd><strong>Definition Term, термин</strong></dd>
        <dt><strong>dd</strong></dt>
        <dd><strong>Definition Definition, определение термина</strong></dd>
        <dt><strong>ul</strong></dt>
        <dd><strong>Unordered List, неупорядоченный список</strong></dd>
        <dt><strong>li</strong></dt>
        <dd><strong>List Item, элемент списка</strong></dd>
    </dl>

    <hr>

    <h1>Компьютерные сети</h1>
    <hr>
    <h2>Английские термины</h2>
    <dl>
        <dt><strong>Internet</strong></dt>
        <dd>Глобальная компьютерная сеть.</dd>
        <dt><strong>internet</strong></dt>
        <dd>Технология сетевого взаимодействия между <br> компьютерами разных типов.</dd>
        <dt><strong>WAIS (Wide Area Information Servers)</strong></dt>
        <dd>Мощная система поиска информации в базах данных <br> сети Интернет по ключевым словам.</dd>
    </dl>

    <hr>

    <h1>Список изученных тегов</h1>
    <ul>
        <li>html</li>
        <li>head</li>
        <li>body</li>
        <li>p</li>
        <li>h1</li>
        <li>h2</li>
    </ul>
    <p>Неупорядоченный список используется для простого перечисления объектов, когда порядок неважен.</p>

    <h1>Какие бывают заголовки?</h1>
    <p>Иерархия заголовков и подзаголовков в порядке убывания значимости:</p>
    <ol start="2">
        <li>h1</li>
        <li>h2</li>
        <li>h3</li>
        <li>h4</li>
        <li>h5</li>
        <li>h6</li>
    </ol>
    <p>Упорядоченный список используется для перечисления объектов или действий, когда важен порядок.</p>

    <hr>
    <ol start="2">
        <ol>
            <li>Основы HTML
                <ol>
                    <li>HTML-теги
                        <ol>
                            <li>парные</li>
                            <li>одиночные</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Основы CSS
                <ol>
                    <li>Селекторы
                        <ol>
                            <li>по типу</li>
                            <li>по классу</li>
                            <li>вложенные</li>
                        </ol>
                    </li>
                </ol>
            </li>
            <li>Стиль кодирования</li>
        </ol>
        <li>Работа с фотошопом</li>
        <li>Построение сеток</li>
        <li>Декоративные элементы</li>
        <li>Введение в JavaScript</li>
        <li>Прогрессивное улучшение</li>
    </ol>

    <hr>

    <h3 align="center">Великие ученые-математики</h3>

    <dl>
        <dt><strong>Пьер Ферма (1601 – 1665)</strong></dt>
        <dd>Французский математик, один из создателей аналитической геометрии <br> и дифференциального исчисления. Открыл правило нахождения экстремума с <br>помощью производной. Автор многих теорем теории чисел.</dd>
        <br>
        <dt><strong>Готфрид Вильгельм Лейбниц (1646 – 1716)</strong></dt>
        <dd>Немецкий математик, физик, философ, создатель Берлинской академии наук. <br>Основоположник дифференциального и интегрального исчисления, ввел <br>большую часть современной символики математического анализа. В работах <br>Лейбница впервые появились идеи теории алгоритмов.</dd>
    </dl>

    <hr>

    <h4>Времена года и месяцы</h4>
    <ol>
        <li>Зима
            <ol type="A">
                <li>Декабрь</li>
                <li>Январь</li>
                <li>Февраль</li>
            </ol>
        </li>
        <li>Весна
            <ol type="a">
                <li>Март</li>
                <li>Апрель</li>
                <li>Май</li>
            </ol>
        </li>
        <li>Лето
            <ol type="I">
                <li>Июнь</li>
                <li>Июль</li>
                <li>Август</li>
            </ol>
        </li>
        <li>Осень
            <ol type="i">
                <li>Сентябрь</li>
                <li>Октябрь</li>
                <li>Ноябрь</li>
            </ol>
        </li>
    </ol>

    <hr>

    <h4>Города областей</h4>
    <ul type="circle">
        <li><u>Московской</u>
            <ol>
                <li>Реутов</li>
                <li>Люберцы</li>
                <li>Химки</li>
            </ol>
        </li>
        <li><u>Ленинградской</u>
            <ol>
                <li>Выборг</li>
                <li>Гатчина</li>
            </ol>
        </li>
        <li><u>Тульской</u>
            <ol>
                <li>Новомосковск</li>
                <li>Щёкино</li>
            </ol>
        </li>
    </ul>

    <hr>

    <div style="border: 1px solid black;">
        <h2>Требования к компьютерным сетям</h2>
        <hr>
        <ol type="a">
            <li>
                производительность 
                <ul>
                    <li>
                        Время реакции 
                    </li>
                    <li>
                        скорость передачи данных 
                        <ul>
                            <li>мгновенная скорость</li>
                            <li>средняя скорость</li>
                            <li>максимальная скорость</li>
                        </ul>
                    </li>
                    <li>задержка передачи </li>
                </ul>
            </li>
            <li>
                надежность и безопасность 
                <ul>
                    <li>Надежность</li>
                    <li>Безопасность</li>
                    <li>Отказоустойчивость</li>
                </ul>  
            </li>
            <li>
                расширяемость и масштабируемость
            </li>
            <li>
                прозрачность 
            </li>
            <li>
                Управляемость 
            </li>
            <li>
                Совместимость
            </li>
            <li>
                Качество обслуживания 
            </li>
        </ol>
    </div>
    <div style="border: 1px dotted black;">
        <h2>Списки</h2>
        <h3>Список цветов</h3>
        <ul>
            <li>Красный</li>
            <li>Желтый</li>
            <li>Зеленый</li>
            <li>Синий</li>
        </ul>
        <h3>Список студентов</h3>
        <ol>
            <li>Иванов</li>
            <li>Петров</li>
            <li>Сидоров</li>
            <li>Николаев</li>
        </ol>
        <h3>Список студентов</h3>
        <ol>
            <li>
                Иванов
                <ul>
                    <li>Возраст - 23 года</li>
                    <li>Курс - 3</li>
                </ul>
            </li>
            <li>
                Петров
                <ul>
                    <li>Возраст - 19 лет</li>
                    <li>Курс - 2</li>
                </ul>
            </li>
            <li>
                Сидоров
                <ul>
                    <li>Возраст - 18 лет</li>
                    <li>Курс - 1</li>
                </ul>
            </li>
        </ol>
    </div>
    <div>
        <h2>Что нужно знать, чтобы делать современные сайты</h2>
        <ol>
            <li>HTML5</li>
            <li>CSS3 & Preprocessors</li>
            <li>JavaScript(ES6+)</li>
            <li>React.js</li>
            <li>Django</li>
            <li>REST API & GraphQL</li>
            <li>Базы данных (PostgreSQL, MySQL)</li>
            <li>Git & GitHub</li>
        </ol>
        <h2>Django и React</h2>
        <p>Современная веб-разработка часто разделяется на фронтенд(React) и бэкенд(Django). Это позволяет создавать мощные, динамичные и мастабируемые веб-приложения.</p>
        <h2>Архитектура современного веб-приложения</h2>
        <p>Для создания полнофункциональных приложений используются различные технологии:</p>
        <ul>
            <li><b>Django</b> - серверный фреймоврк на Python, обрабатывающий бизнес-логику, аутентификацию и работу с базами данных</li>
            <li><b>React</b> - клиентская библиотека для создания интерактивных пользовательских интерфейсов</li>
            <li><b>Django REST Framework</b> - инструмент для создания API, связывающего фронтенд и бэкенд</li>
        </ul>
        <h2>
            Преимущества разделения на фронтенд и бэкенд
        </h2>
        <ul>
            <li>Возможность разрабатывать фронтенд и бэкенд независимо друг от друга</li>
            <li>Упрощение масштабирования приложения</li>
            <li>Возможность использования одного API разными клиентами(веб, мобильные приложения)</li>
            <li>Улучшенная производительность за счет разделения ответственности</li>
        </ul>
    </div>
    <hr>
    <div>
        <ol>
            <li>Зима
            <!-- Используем маркированный список -->
            <ul>
                <li>Декабрь</li>
                <li>Январь</li>
                <li>Февраль</li>
            </ul>
            </li>
            <li>Весна
            <ul>
                <li>Март</li>
                <li>Апрель</li>
                <li>Май</li>
            </ul>
            </li>
            <li>Лето
            <ul>
                <li>Июнь</li>
                <li>Июль</li>
                <li>Август</li>
            </ul>
            </li>
            <li>Осень
            <ul>
                <li>Сентябрь</li>
                <li>Октябрь</li>
                <li>Ноябрь</li>
            </ul>
            </li>
        </ol>
    </div>
<html>


