<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Задача 4.1</title>
</head>
<body>
    <pre style="color:orange">
Осень наступила,
Падают листы.
Мне никто не нужен,
Только Ты.

    <address style="color:green">
    Васюткин А.А.
    </address>
    </pre>
    <p>
        <em>Маркированный список</em> формируется парным тегом 
        <strong>&lt;ul&gt;</strong> (от англ. <dfn>unordered list</dfn>).<br>
        Сам элемент &laquo;ul&raquo; используется, как контейнер для пунктов списка,<br>
        которые формируются, как и в случае с нумерованными списками,<br>
        парными тегами <strong>&lt;li&gt;</strong> и располагаются друг за другом.
    </p>

<pre>
..      ..    ..........   ...          ...   ..
    ..       ..   ..........   ....        ....   ..
    ..       ..       ..       .. ..      .. ..   ..
    ...........       ..       ..  ..    ..  ..   ..
    ...........       ..       ..   ......   ..   ..
    ..       ..       ..       ..    ....    ..   ..
    ..       ..       ..       ..     ..     ..   ..
    ..       ..       ..       ..            ..   .........
    ..       ..       ..       ..            ..   .........
</pre>
</body>
</html>